# Dependencias
node_modules/

# Entornos y secretos
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frames.log
frames2.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Python y Entornos
venv/
.venv/
__pycache__/

# IDE y Agentes
.vscode/
.atl/

# Tests
test/
tests/
